# ODI Complaints EDA

This notebook will be for our exploration and first cleaning steps of the complaint dataset. Other notebooks will be used to keep things like different models separate.

The `src/` folder will be where the finalized workflow for each step is done so a main file can run them all in order and keep everything clean and reproducible. The files there won't be setup for exploring and getting outputs.

## Quick Setup

1. Run cells from top to bottom, first few cells setup the pathing
2. The notebook loads the combined processed parquet by default
3. A DataFrame named `df` is created for the combined with options for the separate datasets

If the file is missing, run the pipeline first:
- Windows: `./scripts/run_pipeline_windows.ps1`
- macOS/Linux: `./scripts/run_pipeline_mac_linux.sh`

In [1]:
# Imports
from pathlib import Path

import pandas as pd
from IPython.display import display

pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 220)
pd.set_option("display.max_colwidth", 120)

Load the combined processed dataset

In [2]:
# This notebook assumes the project setup matches the repo defaults

PROJECT_ROOT = Path.cwd()
if not (PROJECT_ROOT / "data" / "processed").exists():
    PROJECT_ROOT = PROJECT_ROOT.parent

PROCESSED_DIR = PROJECT_ROOT / "data" / "processed"
COMBINED_PATH = PROCESSED_DIR / "odi_complaints_combined.parquet"

df = pd.read_parquet(COMBINED_PATH)
df = df.drop(columns=["source_zip", "source_file"], errors="ignore")

# Uncomment the following lines to load the individual year datasets if you want to compare them separately.
# OLD_PATH = PROCESSED_DIR / "COMPLAINTS_RECEIVED_2020-2024_processed.parquet"
# NEW_PATH = PROCESSED_DIR / "COMPLAINTS_RECEIVED_2025-2026_processed.parquet"
# df_2020_2024 = pd.read_parquet(OLD_PATH)
# df_2025_2026 = pd.read_parquet(NEW_PATH)

print("Loaded:", COMBINED_PATH.name)
print("Shape:", df.shape)

Loaded: odi_complaints_combined.parquet
Shape: (545231, 49)

## Initial Exploration

In [3]:
print("Column names (first 25)")
display(pd.Series(df.columns, name="column").head(25).to_frame())

print("Data types (first 25)")
display(df.dtypes.rename("dtype").reset_index(name="column").head(25))

print("First 5 rows")
display(df.head(5))

Column names (first 25)

            column
0           cmplid
1            odino
2         mfr_name
3          maketxt
4         modeltxt
5          yeartxt
6            crash
7         faildate
8             fire
9          injured
10          deaths
11        compdesc
12            city
13           state
14             vin
15           datea
16           ldate
17           miles
18      occurences
19          cdescr
20       cmpl_type
21   police_rpt_yn
22        purch_dt
23   orig_owner_yn
24  anti_brakes_yn

Data types (first 25)

             index          column
0           cmplid          string
1            odino          string
2         mfr_name          string
3          maketxt          string
4         modeltxt          string
5          yeartxt          string
6            crash          string
7         faildate  datetime64[us]
8             fire          string
9          injured          string
10          deaths          string
11        compdesc          string
12            city          string
13           state          string
14             vin          string
15           datea  datetime64[us]
16           ldate  datetime64[us]
17           miles          string
18      occurences          string
19          cdescr          string
20       cmpl_type          string
21   police_rpt_yn          string
22        purch_dt          string
23   orig_owner_yn          string
24  anti_brakes_yn          string

First 5 rows

,cmplid,odino,mfr_name,maketxt,modeltxt,yeartxt,crash,faildate,fire,injured,deaths,compdesc,city,state,vin,datea,ldate,miles,occurences,cdescr,cmpl_type,police_rpt_yn,purch_dt,orig_owner_yn,anti_brakes_yn,cruise_cont_yn,num_cyls,drive_train,fuel_sys,fuel_type,trans_type,veh_speed,dot,tire_size,loc_of_tire,tire_fail_type,orig_equip_yn,manuf_dt,seat_type,restraint_type,dealer_name,dealer_tel,dealer_city,dealer_state,dealer_zip,prod_type,repaired_yn,medical_attn,vehicles_towed_yn
0,1633421,11292384,Honda (American Honda Motor Co.),HONDA,ACCORD,2018,N,2019-12-21,N,0,0,SERVICE BRAKES,PHILADELPHIA,PA,1HGCV2F38JA,2020-01-01,2020-01-01,4,<NA>,"DRIVING AT THE HIGHWAY, CAR SUDDENLY SLOW DOWN FROM 70MPH TO 40-50MPH,THERE WERE ANY CAR IN FRONT OF ME! I HAVE NOTH...",IVOQ,N,<NA>,N,N,N,<NA>,<NA>,<NA>,<NA>,<NA>,68,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,V,<NA>,N,N
1,1633422,11292384,Honda (American Honda Motor Co.),HONDA,ACCORD,2018,N,2019-12-21,N,0,0,ELECTRICAL SYSTEM,PHILADELPHIA,PA,1HGCV2F38JA,2020-01-01,2020-01-01,4,<NA>,"DRIVING AT THE HIGHWAY, CAR SUDDENLY SLOW DOWN FROM 70MPH TO 40-50MPH,THERE WERE ANY CAR IN FRONT OF ME! I HAVE NOTH...",IVOQ,N,<NA>,N,N,N,<NA>,<NA>,<NA>,<NA>,<NA>,68,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,V,<NA>,N,N
2,1633423,11292384,Honda (American Honda Motor Co.),HONDA,ACCORD,2018,N,2019-12-21,N,0,0,ENGINE,PHILADELPHIA,PA,1HGCV2F38JA,2020-01-01,2020-01-01,4,<NA>,"DRIVING AT THE HIGHWAY, CAR SUDDENLY SLOW DOWN FROM 70MPH TO 40-50MPH,THERE WERE ANY CAR IN FRONT OF ME! I HAVE NOTH...",IVOQ,N,<NA>,N,N,N,<NA>,<NA>,<NA>,<NA>,<NA>,68,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,V,<NA>,N,N
3,1633424,11292385,Ford Motor Company,FORD,EXPLORER,2020,N,2019-12-26,N,0,0,ELECTRICAL SYSTEM,MEHERRIN,VA,1FM5K8GC8LG,2020-01-01,2020-01-01,5300,<NA>,DEEP SLEEP MODE ACTIVATES AFTER 2 DAYS. MOST RECENT EXPERIENCE INVOLVED HAVING TO JUMP START THE CAR AFTER SETTING ...,IVOQ,N,<NA>,N,N,N,<NA>,<NA>,<NA>,<NA>,<NA>,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,V,<NA>,N,N
4,1633425,11292386,"General Motors, LLC",CHEVROLET,VOLT,2017,N,2019-07-12,N,0,0,SERVICE BRAKES,SAN ANTONIO,TX,1G1RB6S52HU,2020-01-01,2020-01-01,15000,<NA>,"WHILE DRIVING ON CITY STREETS AND HIGHWAYS, THE ADAPTIVE CRUISE CONTROL WILL NOT ENGAGE 25% OF THE TIME AND WILL DIS...",IVOQ,N,<NA>,N,N,N,<NA>,<NA>,<NA>,<NA>,<NA>,70,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,V,<NA>,N,N

Get a quick count and percentage of null values by column

In [4]:
# Null summary (overall)
null_summary = (
    df.isna()
      .sum()
      .sort_values(ascending=False)
      .rename("null_count")
      .to_frame()
)
null_summary["null_pct"] = (null_summary["null_count"] / len(df) * 100).round(2)

display(null_summary)

                   null_count  null_pct
fuel_sys               544940     99.95
tire_size              544882     99.94
tire_fail_type         544483     99.86
manuf_dt               544323     99.83
restraint_type         544283     99.83
seat_type              544188     99.81
trans_type             543621     99.70
orig_equip_yn          543089     99.61
dot                    542505     99.50
purch_dt               542416     99.48
loc_of_tire            542095     99.42
repaired_yn            541411     99.30
occurences             531127     97.41
dealer_tel             523362     95.99
num_cyls               518468     95.09
drive_train            517189     94.86
fuel_type              517013     94.82
dealer_zip             501057     91.90
dealer_city            496796     91.12
dealer_state           496511     91.06
dealer_name            493790     90.57
miles                  375031     68.78
veh_speed              247102     45.32
vin                     11916      2.19
orig_owner_yn            7295      1.34
anti_brakes_yn           7295      1.34
vehicles_towed_yn        7295      1.34
cruise_cont_yn           7295      1.34
cdescr                     40      0.01
city                       28      0.01
maketxt                     7      0.00
modeltxt                    7      0.00
mfr_name                    7      0.00
prod_type                   7      0.00
yeartxt                     7      0.00
compdesc                    2      0.00
datea                       0      0.00
ldate                       0      0.00
crash                       0      0.00
faildate                    0      0.00
fire                        0      0.00
odino                       0      0.00
cmplid                      0      0.00
state                       0      0.00
injured                     0      0.00
deaths                      0      0.00
police_rpt_yn               0      0.00
cmpl_type                   0      0.00
medical_attn                0      0.00

There are a lot of null values, but some of it is because many columns are fields for a specific product type. So if 25% of the products are Type A and Type A products have five fields specific to it, then they'd have a minimum null percentage of 75%. This checks the null percentages based on the product type.

In [ ]:
# Show the distribution of rows by product type
df["prod_type"] = df["prod_type"].astype("string").fillna("<NA>")

prod_type_counts = (
    df["prod_type"].value_counts(dropna=False)
    .reset_index(name="row_count")
)
prod_type_counts["row_pct"] = (prod_type_counts["row_count"] / len(df) * 100).round(2)

print("Rows by product type")
display(prod_type_counts)


# Analyze null percentages by product type for columns with >5% nulls
null_by_prod = pd.DataFrame({"overall_null_pct": (df.isna().mean() * 100).round(2)})

for prod_value in prod_type_counts["prod_type"].tolist():
    mask = df["prod_type"] == prod_value
    null_by_prod[f"null_pct_{prod_value}"] = (df.loc[mask].isna().mean() * 100).round(2)
    null_by_prod[f"non_null_pct_{prod_value}"] = (df.loc[mask].notna().mean() * 100).round(2)

null_by_prod = null_by_prod.sort_values("overall_null_pct", ascending=False)
null_by_prod = null_by_prod[null_by_prod["overall_null_pct"] > 5]

print("Null by product type (more than 5% overall null)")
display(null_by_prod)


# Identify columns that are potentially sparse
print("Potentially sparse columns (overall null >= 80% and at least one product type with non-null >= 20%)")
sparse_candidates = null_by_prod[
    (null_by_prod["overall_null_pct"] >= 80)
    & (null_by_prod.filter(regex=r"^non_null_pct_").max(axis=1) >= 20)
]
display(sparse_candidates)

Rows by product type

  prod_type  row_count  row_pct
0         V     537936    98.66
1         T       3820      0.7
2         E       2142     0.39
3         C       1326     0.24
4      <NA>          7      0.0

Null by product type (more than 5% overall null)

                overall_null_pct  null_pct_V  non_null_pct_V  null_pct_T  non_null_pct_T  null_pct_E  non_null_pct_E  null_pct_C  non_null_pct_C  null_pct_<NA>  non_null_pct_<NA>
fuel_sys                   99.95       99.95            0.05      100.00            0.00      100.00            0.00      100.00            0.00          100.0                0.0
tire_size                  99.94      100.00            0.00       90.86            9.14      100.00            0.00      100.00            0.00          100.0                0.0
tire_fail_type             99.86      100.00            0.00       80.42           19.58      100.00            0.00      100.00            0.00          100.0                0.0
restraint_type             99.83      100.00            0.00      100.00            0.00      100.00            0.00       28.51           71.49          100.0                0.0
manuf_dt                   99.83      100.00            0.00      100.00            0.00      100.00            0.00       31.52           68.48          100.0                0.0
seat_type                  99.81      100.00            0.00      100.00            0.00      100.00            0.00       21.34           78.66          100.0                0.0
trans_type                 99.70       99.70            0.30      100.00            0.00      100.00            0.00      100.00            0.00          100.0                0.0
orig_equip_yn              99.61      100.00            0.00      100.00            0.00        0.00          100.00      100.00            0.00          100.0                0.0
dot                        99.50      100.00            0.00       28.64           71.36      100.00            0.00      100.00            0.00          100.0                0.0
purch_dt                   99.48       99.70            0.30      100.00            0.00       44.63           55.37       97.81            2.19          100.0                0.0
loc_of_tire                99.42      100.00            0.00       17.91           82.09      100.00            0.00      100.00            0.00          100.0                0.0
repaired_yn                99.30      100.00            0.00        0.00          100.00      100.00            0.00      100.00            0.00          100.0                0.0
occurences                 97.41       97.40            2.60       98.46            1.54       98.13            1.87       96.83            3.17          100.0                0.0
dealer_tel                 95.99       95.94            4.06       99.55            0.45       99.95            0.05      100.00            0.00          100.0                0.0
num_cyls                   95.09       95.02            4.98      100.00            0.00      100.00            0.00      100.00            0.00          100.0                0.0
drive_train                94.86       94.79            5.21      100.00            0.00      100.00            0.00      100.00            0.00          100.0                0.0
fuel_type                  94.82       94.75            5.25      100.00            0.00      100.00            0.00      100.00            0.00          100.0                0.0
dealer_zip                 91.90       91.80            8.20       98.61            1.39       99.72            0.28      100.00            0.00          100.0                0.0
dealer_city                91.12       91.01            8.99       98.32            1.68       99.67            0.33      100.00            0.00          100.0                0.0
dealer_state               91.06       90.96            9.04       98.30            1.70       99.67            0.33      100.00            0.00          100.0                0.0
dealer_name                90.57       90.45            9.55       98.12            1.88       99.67            0.33       99.70            0.30          100.0                0.0
miles                      68.78       68.36           31.64      100.00            0.00      100.00            0.00      100.00            0.00          100.0                0.0
veh_speed                  45.32       44.58           55.42      100.00            0.00      100.00            0.00      100.00            0.00          100.0                0.0

Potentially sparse columns (overall null >= 80% and at least one product type with non-null >= 20%)

                overall_null_pct  null_pct_V  non_null_pct_V  null_pct_T  non_null_pct_T  null_pct_E  non_null_pct_E  null_pct_C  non_null_pct_C  null_pct_<NA>  non_null_pct_<NA>
restraint_type             99.83       100.0             0.0      100.00            0.00      100.00            0.00       28.51           71.49          100.0                0.0
manuf_dt                   99.83       100.0             0.0      100.00            0.00      100.00            0.00       31.52           68.48          100.0                0.0
seat_type                  99.81       100.0             0.0      100.00            0.00      100.00            0.00       21.34           78.66          100.0                0.0
orig_equip_yn              99.61       100.0             0.0      100.00            0.00        0.00          100.00      100.00            0.00          100.0                0.0
dot                        99.50       100.0             0.0       28.64           71.36      100.00            0.00      100.00            0.00          100.0                0.0
purch_dt                   99.48        99.7             0.3      100.00            0.00       44.63           55.37       97.81            2.19          100.0                0.0
loc_of_tire                99.42       100.0             0.0       17.91           82.09      100.00            0.00      100.00            0.00          100.0                0.0
repaired_yn                99.30       100.0             0.0        0.00          100.00      100.00            0.00      100.00            0.00          100.0                0.0

## Scratchpad

In [7]:
# Vehicle-only view (likely the main analysis cohort)
df_vehicle = df[df["prod_type"] == "V"].copy()

print("Vehicle-only rows:", len(df_vehicle))

vehicle_null_summary = (
    df_vehicle.isna()
    .sum()
    .sort_values(ascending=False)
    .rename("null_count")
    .to_frame()
)
vehicle_null_summary["null_pct"] = (vehicle_null_summary["null_count"] / len(df_vehicle) * 100).round(2)

display(vehicle_null_summary.head(25))


# display(df_vehicle[["maketxt", "modeltxt", "compdesc"]].head(20))
# display(df_vehicle.groupby("compdesc").size().sort_values(ascending=False).head(30))

Vehicle-only rows: 537936

                null_count  null_pct
dot                 537936    100.00
tire_size           537936    100.00
loc_of_tire         537936    100.00
tire_fail_type      537936    100.00
orig_equip_yn       537936    100.00
manuf_dt            537936    100.00
seat_type           537936    100.00
restraint_type      537936    100.00
repaired_yn         537936    100.00
fuel_sys            537645     99.95
purch_dt            536336     99.70
trans_type          536326     99.70
occurences          523973     97.40
dealer_tel          516085     95.94
num_cyls            511173     95.02
drive_train         509894     94.79
fuel_type           509718     94.75
dealer_zip          493821     91.80
dealer_city         489572     91.01
dealer_state        489288     90.96
dealer_name         486578     90.45
miles               367736     68.36
veh_speed           239807     44.58
vin                   4621      0.86
cdescr                  39      0.01

In [ ]:
# Fire rate by make/model
m_m_totals = (
    df[["maketxt", "modeltxt"]]
    .dropna(subset=["maketxt", "modeltxt"])
    .groupby(["maketxt", "modeltxt"])
    .size()
    .rename("total_count")
)

fire_counts = (
    df[(df["fire"] == "Y")]
    .groupby(["maketxt", "modeltxt"])
    .size()
    .rename("fire_count")
)

fire_rate = (m_m_totals.to_frame().join(fire_counts, how="left"))

fire_rate["fire_pct"] = (
    fire_rate["fire_count"] / fire_rate["total_count"]
    * 100
).round(2)

fire_rate = fire_rate.reset_index()

# Tiny groups can look dramatic, so keep only meaningful sample sizes
min_total_count = 100
fire_rate_view = fire_rate[fire_rate["total_count"] >= min_total_count]

display(
    fire_rate_view
    .sort_values(["fire_pct", "fire_count", "total_count"], ascending=False)
    .head(30)
)

            maketxt        modeltxt  total_count  fire_count  fire_pct
3333        PONTIAC      GRAND PRIX          113        28.0     24.78
4057      WINNEBAGO            EKKO          157        30.0     19.11
272             BMW            325I          111        19.0     17.12
1991        HYUNDAI   GENESIS COUPE          166        27.0     16.27
534           BUICK         LUCERNE          157        23.0     14.65
2324            KIA             RIO          503        66.0     13.12
2426     LAND ROVER             LR4          108        13.0     12.04
3988     VOLKSWAGEN         TOUAREG          165        18.0     10.91
286             BMW            335I          215        23.0     10.70
1977        HYUNDAI          ACCENT          646        68.0     10.53
2899  MERCEDES-BENZ            S550          104        10.0      9.62
2326            KIA          SEDONA          934        88.0      9.42
310             BMW            550I          103         9.0      8.74
1007          DODGE        RAM 3500          126        11.0      8.73
283             BMW            330I          296        25.0      8.45
1540            GMC           ENVOY          122        10.0      8.20
2148         JAGUAR          F-PACE          147        12.0      8.16
3034           MINI      COUNTRYMAN          123        10.0      8.13
686       CHEVROLET       SILVERADO          107         8.0      7.48
298             BMW            528I          566        41.0      7.24
1329           FORD           F-450          100         7.0      7.00
538           BUICK           REGAL          420        29.0      6.90
1454   FREIGHTLINER        CASCADIA          222        15.0      6.76
990           DODGE          DAKOTA          108         7.0      6.48
1385   FOREST RIVER        CHEROKEE          139         9.0      6.47
2321            KIA          OPTIMA         5338       343.0      6.43
2010        HYUNDAI  SANTA FE SPORT          971        60.0      6.18
2311            KIA           FORTE         2233       135.0      6.05
3766         TOYOTA  COROLLA MATRIX          101         6.0      5.94
419             BMW              X4          102         6.0      5.88